<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav style="border-bottom:solid;">
            <a href="{{ path('accueil') }}">accueil</a> |
            {% if app.user %}
                <a href="{{ path('app_logout') }}">Logout</a>
            {% endif %}
        </nav>
        {% block body %} {% endblock %}
        <footer style=" border-top: solid; padding: 5px;">
            2021 - projet web du père Noël
        </footer>
    </body>
    {% block javascripts %}{% endblock %}
</html>
