<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <p><a href="{{ path('accueil') }}"> RETOUR ACCUEIL </a></p>
        <p><a href="{{ path('app_logout') }}"> SE DECONNECTER </a></p>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
